@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter var, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

@layer base {
  :root {
    --background: rgb(13, 15, 18); /* #0D0F12 */
    --foreground: rgb(13, 15, 18); /* #DADADA */
    --card: rgb(27, 29, 35); /* #1B1D23 */
    --card-foreground: rgb(13,15,18); /* #DADADA */
    --popover: rgb(27, 29, 35); /* #1B1D23 */
    --popover-foreground: rgb(218, 218, 218); /* #DADADA */
    --primary: rgb(94, 241, 242); /* #5EF1F2 */
    --primary-foreground: rgb(13, 15, 18); /* #0D0F12 */
    --secondary: rgb(145, 142, 255); /* #918EFF */
    --secondary-foreground: rgb(13, 15, 18); /* #0D0F12 */
    --muted: rgb(37, 39, 47); /* #25272F */
    --muted-foreground: rgb(138, 142, 157); /* #8A8E9D */
    --accent: rgb(94, 241, 242); /* #5EF1F2 */
    --accent-foreground: rgb(13, 15, 18); /* #0D0F12 */
    --destructive: rgb(231, 90, 90);  /* #E75A5A */
    --destructive-foreground: rgb(0, 0, 100); /* #FFFFFF */
    --border: rgb(42, 45, 53); /* #2A2D35 */
    --input: rgb(37, 39, 47); /* #25272F */
    --ring: rgb(94, 241, 242); /* #5EF1F2 */
    --radius: 10px;
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    --sidebar-background: rgb(13, 15, 18); /* #0D0F12 */
    --sidebar-foreground: rgb(218, 218, 218); /* #DADADA */
    --sidebar-primary: rgb(94, 241, 242); /* #5EF1F2 */
    --sidebar-primary-foreground: rgb(13, 15, 18); /* #0D0F12 */
    --sidebar-accent: rgb(27, 29, 35); /* #1B1D23 */
    --sidebar-accent-foreground: rgb(218, 218, 218); /* #DADADA */
    --sidebar-border: rgb(42, 45, 53); /* #2A2D35 */
    --sidebar-ring: rgb(94, 241, 242); /* #5EF1F2 */
  }

  .dark {
    --background: rgb(13, 15, 18);
    --foreground: rgb(218, 218, 218);
    --card: rgb(27, 29, 35); 
    --card-foreground: rgb(218, 218, 218);
    --popover: rgb(27, 29, 35);
    --popover-foreground: rgb(218, 218, 218);
    --primary: rgb(94, 241, 242);
    --primary-foreground: rgb(13, 16, 21);
    --secondary: rgb(145, 142, 255);
    --secondary-foreground: rgb(13, 15, 18); 
    --muted: rgb(37, 39, 47);
    --muted-foreground: rgb(138, 142, 157);
    --accent: rgb(94, 241, 242);
    --accent-foreground: rgb(13, 15, 18);
    --destructive: rgb(231, 90, 90);
    --destructive-foreground: rgb(0, 0, 100);
    --border: rgb(42, 45, 53);
    --input: rgb(37, 39, 47); 
    --ring: rgb(94, 241, 242);
    --sidebar-background: rgb(13, 15, 18);
    --sidebar-foreground: rgb(218, 218, 218);
    --sidebar-primary: rgb(94, 241, 242);
    --sidebar-primary-foreground: rgb(13, 15, 18);
    --sidebar-accent: rgb(27, 29, 35);
    --sidebar-accent-foreground: rgb(218, 218, 218);
    --sidebar-border: rgb(42, 45, 53);
    --sidebar-ring: rgb(94, 241, 242);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

