// tagged for gh commit 24 apr 25
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter var, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

@layer base {
  :root {
    --background: 0 0 13; /* #212121 */
    --foreground: 218 218 218; /* #dadada */
    --card: 55 57 64; /* #373940 */
    --card-foreground: 48 48 48; /* #303030 */
    --popover: 55 57 64; /* #373940 */
    --popover-foreground: 218 218 218; /* #dadada */
    --primary: 16 163 127; /* #10a37f */
    --primary-foreground: 0 0 100; /* #fff */
    --secondary: 55 57 64; /* #373940 */
    --secondary-foreground: 218 218 218; /* #dadada */
    --muted: 68 68 77; /* #44444d */
    --muted-foreground: 142 142 147; /* #8e8e93 */
    --accent: 16 163 127; /* #10a37f */
    --accent-foreground: 0 0 100; /* #fff */
    --destructive: 351 76 57; /* #e75a5a */
    --destructive-foreground: 0 0 100; /* #fff */
    --border: 68 68 77; /* #44444d */
    --input: 55 57 64; /* #373940 */
    --ring: 16 163 127; /* #10a37f */
    --radius: 10px;
    --box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    --sidebar-background: 33 33 33;
    --sidebar-foreground: 218 218 218;
    --sidebar-primary: 16 163 127;
    --sidebar-primary-foreground: 0 0 100;
    --sidebar-accent: 55 57 64;
    --sidebar-accent-foreground: 0 0 100;
    --sidebar-border: 68 68 77;
    --sidebar-ring: 16 163 127;
  }

  .dark {
    --background: 0 0 13; /* #212121 */
    --foreground: 218 218 218; /* #dadada */
    --card: 55 57 64; /* #373940 */
    --card-foreground: 48 48 48; /* #303030 */
    --popover: 55 57 64; /* #373940 */
    --popover-foreground: 218 218 218; /* #dadada */
    --primary: 16 163 127; /* #10a37f */
    --primary-foreground: 0 0 100; /* #fff */
    --secondary: 55 57 64; /* #373940 */
    --secondary-foreground: 218 218 218; /* #dadada */
    --muted: 68 68 77; /* #44444d */
    --muted-foreground: 142 142 147; /* #8e8e93 */
    --accent: 16 163 127; /* #10a37f */
    --accent-foreground: 0 0 100; /* #fff */
    --destructive: 351 76 57; /* #e75a5a */
    --destructive-foreground: 0 0 100; /* #fff */
    --border: 68 68 77; /* #44444d */
    --input: 55 57 64; /* #373940 */
    --ring: 16 163 127; /* #10a37f */
    --sidebar-background: 33 33 33;
    --sidebar-foreground: 218 218 218;
    --sidebar-primary: 16 163 127;
    --sidebar-primary-foreground: 0 0 100;
    --sidebar-accent: 55 57 64;
    --sidebar-accent-foreground: 0 0 100;
    --sidebar-border: 68 68 77;
    --sidebar-ring: 16 163 127;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

